@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: Proxima-Nova-Semibold;
    src: url(../fonts/Proxima Nova Semibold.otf);
}

@font-face {
    font-family: Proxima-Nova-Extrabold;
    src: url(../fonts/Proxima Nova Extrabold.otf);
}

@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(../fonts/Proxima Nova Regular.otf);
}

@font-face {
    font-family: Helvetica-Normal;
    src: url(../fonts/Helvetica-Normal.ttf);
}