.indicators {
	position: absolute;
    top: -13px;
    right: 0;
    width: 34px;
    height: 50px;
    background-color: #00A8BF;
    cursor: pointer;
    transition: .3s;
}
.indicators.indicator-err {
	background-color: #A64242;
}
.indicators.indicator-succ {
	background-color: #28A745;
}
.indicators i.fa {
	position: absolute;
	color: #ffffff;
    top: 15px;
    right: 8px;
}
.indicators.indicator-textarrea {
	top: -61px;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
	display: block;
	height: 1px;
}